In [1]:
from WindPy import *

In [2]:
login = w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

In [3]:
login

.ErrorCode=0
.Data=[OK!]

In [11]:
w.isconnected??

In [3]:
w.wsi('600000.SH','close','-1D',BarSize=1)

.ErrorCode=-40522010
.Codes=[ErrorReport]
.Fields=[OUTMESSAGE]
.Times=[20170809 13:46:03]
.Data=[[CWSIService: invalid begin or end time.]]

In [15]:
from datetime import datetime, timedelta

In [17]:
w.wsi("600000.SH","close,amt", datetime.today()-timedelta(10))

.ErrorCode=-40522010
.Codes=[ErrorReport]
.Fields=[OUTMESSAGE]
.Times=[20170807 15:04:32]
.Data=[[CWSIService: invalid begin or end time.]]

In [18]:
from PyQt5.QtWidgets import QTextEdit

In [5]:
w.wsd('600000.SH',['close'],'-1W')

.ErrorCode=-40521010
.Codes=[ErrorReport]
.Fields=[OUTMESSAGE]
.Times=[20170809]
.Data=[[CWSDService: Internet Timeout.]]

In [ ]:
w.wsd?

In [6]:
from pandas import DataFrame

In [7]:
df = DataFrame()

In [9]:
df

AttributeError: 'DataFrame' object has no attribute 'title'

In [11]:
from pandas import DataFrame
df = DataFrame(w.wsd('600008.SH','High','2015-05-01').Data).T

In [12]:
df[df.isnull()]

      0
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN
25  NaN
26  NaN
27  NaN
28  NaN
29  NaN
..   ..
529 NaN
530 NaN
531 NaN
532 NaN
533 NaN
534 NaN
535 NaN
536 NaN
537 NaN
538 NaN
539 NaN
540 NaN
541 NaN
542 NaN
543 NaN
544 NaN
545 NaN
546 NaN
547 NaN
548 NaN
549 NaN
550 NaN
551 NaN
552 NaN
553 NaN
554 NaN
555 NaN
556 NaN
557 NaN
558 NaN

[559 rows x 1 columns]