In [1]:
from WindPy import *
from pandas import Series, DataFrame
import pandas as pd

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [6]:
w.wsd('S5118222','close', starttime='2017-01-01')

.ErrorCode=-40522005
.Codes=[ErrorReport]
.Fields=[OUTMESSAGE]
.Times=[20170818]
.Data=[[Unsupportted wind_codes in free edition.]]

In [7]:
w.edb('S5118222','2017-01-01')

.ErrorCode=-40522005
.Codes=[ErrorReport]
.Fields=[OUTMESSAGE]
.Times=[20170818]
.Data=[[Unsupportted wind_codes in free edition.]]

In [55]:
import numpy as np

In [70]:
d1 = w.wsd('600000.SH', ['close', 'open', 'high', 'low'], '2016-01-01', '2017-01-31')

In [71]:
df1 = DataFrame(np.array(d1.Data).T, index = d1.Times, columns=d1.Fields)

In [73]:
df = DataFrame()

In [75]:
df['CLOSE'] = d1.Data[0]

In [77]:
df['open'] = d1.Data[1]

In [106]:
df1 = DataFrame({'num':[1,2,3],'alpha':['a','b','c']})
df2 = DataFrame({'num':[9,8,7],'alpha':['x','y','z']})

In [107]:
l = ['num', 'alpha']
cal = 'A + B + A'

In [108]:
dff = DataFrame()
for s in l:
    A = df1[s]
    B = df2[s]
    dff[s] = eval(cal)

In [109]:
dff['cal'] = cal

In [110]:
for i in range(len(dff)):
    dff.loc[i, 'cal'] = dff.loc[i, 'cal'].replace('A', df1.loc[i, 'alpha'])
    dff.loc[i, 'cal'] = dff.loc[i, 'cal'].replace('B', df2.loc[i, 'alpha'])

In [111]:
dff

   num alpha        cal
0   11   axa  a + x + a
1   12   byb  b + y + b
2   13   czc  c + z + c

In [12]:
w.wsd('600000.SH',['CLOSE'],'-1W',None,Period='D')

.ErrorCode=0
.Codes=[600000.SH]
.Fields=[CLOSE]
.Times=[20170810,20170811,20170814,20170815,20170816,20170817]
.Data=[[12.79,12.68,12.56,12.59,12.49,12.53]]